[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
faker = "*"
requests = "*"
essential-generators = "*"
uvicorn = "*"
fastapi-jwt-auth = "*"
passlib = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
